* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
  }

  h3{
    padding-top: 50px;
  }

  p{
    text-align: justify;
  }

  ul, li{
    text-align: justify;
  }

  a{
    text-decoration: none;
    color: ;
  }

  td, th {
    border: 1px solid #777;
    padding: 0.5rem;
    text-align: center;
  }
 
  table {
    border-collapse: collapse;
  }

  tbody tr:nth-child(odd) {
    background: #eee;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    font-size: 20px;
    text-align: center;
    background: white;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {
    float: left;
    width: 50%;
    padding-right: 10px;
    text-align: center;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 50%;
    padding-left: 10px;
    text-align: center;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 2.5px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }

  .footer p{
    color: rgb(135, 135, 135);
    text-align: center;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }